@use "sass:map";
@use "reboot";

// >>-- 22 Background css start --<<

// background-color css starts

@mixin bg-colors($name, $stylename,$color,$max, $offset) {
    $i: .30;
    @while $i <= $max {
      .bg-#{$name}-#{$i*1000} {
        #{$stylename}: rgba(#{$color},#{$i}) !important;
        color: var(--white);
        &:hover,&:active ,&.active ,&.show,&:checked,&:focus {
            color: var(--white);
            transition: var(--app-transition);
          }
      }

      $i: $i + $offset;
    }
  }

  @each $name, $color in reboot.$colors {
    @include bg-colors($name, 'background-color',map.get(reboot.$colors, $name),.90,.10);
  }

  // >>-- 22 Background css end --<<

