// >>-- 102 Light_box css start --<<

.light-box-grid {

    margin: 0 -6px 1.25rem;
    .grid-sizer,
    .grid-item { width: 25%; }
    .grid-item--width2 { width: 50%; }

}

// >>-- 102 Light_box css end --<<
