@use "variables";

// >>-- 06 Nav css start --<<

.toggle-semi-nav{
    float: right;
    padding: 5px;
    line-height: 1.1;
    border-radius: 15px;
    cursor: pointer;
    display: none;
}

.semi-nav {
    &:hover {
        .toggle-semi-nav {
            display: block;
        }
    }

    .app-logo {
        &:hover {
            .toggle-semi-nav {
                background-color: rgba(var(--primary), 0.2) !important;
                transition: var(--app-transition);
            }
        }
    }
}



nav{
   width: variables.$sidebar-width;
   height: 100vh;
   display: inline-block;
   position: fixed;
   background-color: var(--white);
   z-index: 1003;
.app-logo{
    padding: 1.5rem 1.5rem 0 1.5rem;
    .logo{
        img{
            width: 140px;
            float: left;
        }
    }
}

.app-nav{
    height: calc(100% - 50px);
    overflow: auto;

    .main-nav{
        > li{
            &.no-sub{
                a{
                    &::after{
                        display: none;
                    }
                }
            }

            &:not(.menu-title){
                position: relative;
                transition: var(--app-transition);
                > a{
                    padding: 0.8rem 1rem;
                    font-weight: 500;
                    color: rgba(var(--dark), 1);
                    width: 100%;
                    display: inline-flex;
                    font-size: var(--h6-font-size);
                    align-items: center;
                    text-transform: capitalize;
                    &[aria-expanded="true"]{
                        color: rgba(var(--dark), 1);
                        background: rgba(var(--dark), 0.08);
                        border: 1px dashed rgba(var(--dark), 0.2);
                    }

                    &[aria-expanded="false"]{
                        &::after{
                            content: "\ea5f";
                            transition: var(--app-transition);
                        }
                    }

                    i{
                        font-size: 1.25rem;
                        font-weight: 500;
                        margin-right: 0.3rem;
                        margin-top: -4px;
                    }

                    &::after{
                        content: "\ea62";
                        transition: var(--app-transition);
                        background-image: none;
                        font-family: "tabler-icons" !important;
                        right: 1rem;
                        position: absolute;
                        font-size: 1.1rem;
                        top: 10px;
                    }
                }

                ul{
                    padding: 0.6rem 0.5rem;
                    list-style-position: inside;

                    li{

                        font-weight: 400;
                        line-height: 2;
                        position: relative;
                        > a{
                            padding: 0.3rem 1.5rem 0.3rem 3rem;
                            width: 100%;
                            display: block;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        &::before{
                            content: "-";
                            position: absolute;
                            left: 30px;
                            font-size: 20px;
                            top: 0px;
                            color: rgba(var(--dark), 1);
                        }

                        &.active{
                            color: var(--white);
                            font-weight: 500;
                            background: rgba(var(--primary), 1);
                            border-radius: 5px;
                            &::before{
                                color: var(--link-color);
                            }
                        }

                        &.another-level{
                            &:last-child{
                                padding-bottom: 0;
                            }
                            > a{
                                    display: block;
                                    &::after{
                                        content: "\ea5f";
                                        transition: var(--app-transition);
                                        font-family: "tabler-icons" !important;
                                        position: absolute;
                                        right: 1rem;
                                    }

                                    &[aria-expanded="false"]{
                                        &::after{
                                            content: "\ea62";
                                            transition: var(--app-transition);
                                        }
                                    }
                                }

                                ul{
                                    margin-left: -30px;
                                    margin-top: -10px;
                                    padding-bottom: 0;
                                }
                                &.another-level{
                                    ul{
                                        margin-left: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    .menu-title{
        padding: 0.75rem 1.25rem 0.2rem;
        span{
            text-transform: uppercase;
            color: rgba(var(--light), 0.6);
            font-weight: 500;
        }
    }

    .menu-item{
        padding: 0.5rem 1rem;
        .btn{
            padding: 0;
            color: rgba(var(--secondary), 1);
            font-weight: 500;
            .ti{
                &:before{
                    width: auto;
                    display: inline-block;
                    font-size: 20px;
                    vertical-align: super;
                }
            }
        }
    }
}
}

.app-wrapper{
        .semi-nav{
            width: variables.$semi-nav;
            transition: var(--app-transition);
            .badge{
                display: none;
            }
            &:hover{
                width: variables.$sidebar-width;
                transition: var(--app-transition);

                .app-logo{
                    padding: 1.5rem 1.5rem 0 1.5rem;
                    .logo{
                        width: auto;
                        overflow: unset;
                        transition: var(--app-transition);
                    }
                }
                .app-nav{
                    width: 100%;
                    .menu-title{
                        span{
                            display: inherit;
                            text-overflow: unset;
                            overflow: unset;
                            white-space: unset;
                            font-size: inherit;
                            color: inherit;
                            transition: var(--app-transition);
                        }
                    }


                    .main-nav{
                        >li{
                            &:not(.menu-title) {

                                ul{
                                    height: auto;
                                    opacity: 1;
                                    transition: var(--app-transition);
                                }
                                > a::after{
                                    content: "\ea5f";
                                    transition: var(--app-transition);
                                }
                                a[aria-expanded=true]::after{
                                    content: "\ea62";
                                    transition: var(--app-transition);
                                }
                            }
                            a{
                                font-size: inherit;
                                text-align: left;
                                transition: var(--app-transition);
                                transition-duration: 0.15s;
                                i{
                                    font-size: 1.2rem;
                                    margin-right: 0.25rem;
                                    margin-top: -4px;
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
            }

            &~.app-content{
                padding-left:  variables.$semi-nav !important;

                transition: var(--app-transition);
                header{
                    &.header-main{
                        padding-left: calc(variables.$semi-nav + 0px);
                        transition: var(--app-transition);
                    }
                }
                footer{
                    padding-left:  variables.$semi-nav;
                }
            }

            .app-logo{
                padding: 1.5rem 1.2rem 0 1.2rem;
                .logo{
                    width: 35px;
                    overflow: hidden;
                    transition: var(--app-transition);
                }
            }

            .app-nav{
                .menu-title{
                    > span{
                        display: block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        font-size: 10px;
                        color: rgba(var(--light), 0.6) !important;
                        transition: var(--app-transition);
                    }
                }

                .main-nav{
                    margin-bottom: 2rem;
                    > li{
                        &:not(.menu-title){
                            ul{
                                height: 0;
                                opacity: 0;
                                transition: var(--app-transition);
                            }
                        }
                    }
                    li{
                        &:not(.menu-title) > a::after{
                            content: none;
                        }
                        a{
                            font-size: 0;
                            text-align: center;
                            i{
                                font-size: 1.2rem;
                                margin: 0 auto;
                            }
                        }
                    }
                }
            }
            //}
        }


    //horizontal sidebar
    nav{
        &.horizontal-sidebar{
            width: 100%;
            height: 45px;
            top: 69px;
            box-shadow: none;
            border-bottom: 1px solid var(--border_color);
            left: 0;
             .menu-navs{
                 width: 1330px;
                 position: absolute;
                 left: 0;
                 right: 0;
                 top: 7px;
                 margin: 0 auto;
                 z-index: -1;
                 >span{
                     padding: 2px 6px;
                     font-size: 20px;
                     border-radius: 100%;
                     background-color: rgba(var(--primary), 0.1);
                     color: rgba(var(--primary), 1);
                     cursor: pointer;
                     &.menu-next{
                         float: right;
                     }
                 }
             }
             ~ footer {
                padding-left: 1rem;
                padding-right: 1rem;
            }
            .simplebar-horizontal{
                visibility: visible;
            }
            .simplebar-vertical{
                visibility: hidden;
            }
            .app-nav {
                min-height: 50px;
                width: 1260px;
                height: auto;
                margin: 0 auto;
                .main-nav {
                    margin-top: 0 !important;
                    display: flex;
                    flex-wrap: nowrap;
                    width: max-content;
                    transition: var(--app-transition);
                    > li:not(.menu-title){
                        width: auto;
                        display: inline-block ;
                        a{
                            padding: 0.5rem 1rem;
                            width: auto;
                            display: inline-block ;
                            padding-right: 30px;
                            &::after{
                                right: 0;
                            }
                        }

                        ul{
                            position: fixed;
                            background-color: var(--white);
                            box-shadow: var(--box-shadow);
                            ul{
                                margin-left: 165px;
                                margin-top: -30px;
                            }
                            >li{
                                &:before{
                                    left: 10px;
                                }
                                a{
                                    padding-left: 1.5rem;
                                }
                            }
                        }
                    }
                }
                .menu-title{
                    display: none;
                }
            }

            .app-logo{
                position: relative;
                width: 1366px;
                margin: 0 auto;
                padding: 0;
                .logo{
                    position: absolute;
                    top: -48px;
                    padding: 0;
                    left: 18px;
                }
            }



        &~.app-content{
            padding-top: 130px;
            padding-left: 2rem !important;
            width: 1366px;
            margin: 0 auto;
            box-shadow: none;
            padding-right: 2rem !important;
            footer{
                padding: 12px 16px;
                width: 100%;
                margin: 0 auto;
                .container-fluid{
                    width: 1346px;
                }
            }
            .container-fluid{
                padding: 0;
            }
            .header-main{
                padding: 0;
                right: 0;
                top: 0;
                z-index: 1004;

                .app-logo{
                    display: block !important;
                }
                .header-toggle{
                   i{
                       font-size: 0;
                   }
                }
                >.container-fluid{
                    padding: 0;
                    >.row{
                        >div{
                        >.card{
                            box-shadow: none;
                            border-bottom: 1px solid rgba(var(--secondary), 0.1);
                            border-radius: 0;
                            > .card-body{
                                width: 1366px;
                                margin: 0 auto;
                             }
                            }
                        }
                    }

                }

            }
        }

        }

        &.vertical-sidebar{
            .app-nav {
                .menu-title{
                    span {
                        color: rgba(var(--primary), 1);
                    }
                }
                .main-nav > li:not(.menu-title) > a[aria-expanded=true] {
                    color: rgba(var(--primary), 1);
                    background: rgba(var(--primary), 0.08);
                    border: 1px dashed rgba(var(--primary), 0.2);
                }
            }
        }

        .main{
            max-width: 1366px;
        }

    }
}
.dark{
    .header-right{
        ul{
            li{
                .bg-dark{
                    background-color: var(--border_color) !important;
                }
            }
        }
    }
}


// >>-- 06 Nav css end --<<

