// >>-- 53 Pricing css start --<<

.pricing-table{
    &.table-responsive {
        table {
            thead {
                tr {
                    th:first-child {
                        width: 34%;
                    }
                    th:nth-child(2) {
                        width: 22%;
                    }
                    th:nth-child(3) {
                        width: 22%;
                    }
                    th:nth-child(4) {
                        width: 22%;
                    }
                }
            }
            tbody{
                td{
                    padding: 0.8rem 0.75rem;
                }
            }
        }
    }
}

.pricing-card {
    margin: 15px;
    &.active {
        .pricing-header {
            background-color: rgb(var(--primary));
            color: var(--white);
        }
    }
    .pricing-header {
        margin-left: 50%;
        transform: translate(-50%);
        background-color: rgb(var(--secondary), 0.6);
        color: var(--white);
        text-align: center;
        border-radius: 0px 0px 5px 5px;
        padding: 0.375rem 0.75rem;

    }
    .pricing-content {
        border-radius: 0px 0px 10px 10px;
        padding: 0.375rem 0.75rem;
        text-align: center;
        .price {
            font-size: calc(26px + (40 - 26) * ((100vw - 300px) / (1920 - 300)));
            font-weight: 500;
        }
        .pricing-list {
            li {
                margin: 20px 0px;
                span{
                    color: rgb(var(--primary));
                }
            }
        }
    }
}

.flip-pricing {
    margin: 10px;
    &:hover .flip-card {
        transform: rotateY(190deg);
        transition: transform 0.9s;
    }

    .flip-card {
        transition: transform 0.1s;
        transform-style: preserve-3d;
        .front-pricing {
            position: relative;
        }
        .front-pricing,
        .back-pricing {
            width: 100%;
            backface-visibility: hidden;
            background-color: var(--white);
            border-radius: 10px;
            padding: 6px 12px;

            .pricing-header {
                margin-top: 20px;
                text-align: center;
            }
            .price {
                font-weight: 500;
                font-size: calc(26px + (40 - 26) * ((100vw - 300px) / (1920 - 300)));
            }
            .pricing-content {
                margin-bottom: 20px;
                .pricing-list {
                    text-align: center;
                    margin-bottom: 20px;
                    li {
                        margin: 20px 0px 0px 0px;
                    }
                }
            }
        }
        .back-pricing {
            position: absolute;
            top: 0;
            transform: rotateY(-180deg);
        }
    }
}
.flip-pricing-container{
    .slick-slide img {
        display: inline;
    }
}

// >>-- 53 Pricing css end --<<