@use "sass:map";
@use "reboot";

// >>-- 69 Scrollpy css start --<<

@mixin btn_pill($name, $color) {

    .nav-link,
    .dropdown-item {
        &.nav-pill-#{$name}{
            &.active{
                background-color: rgba(#{$color},1);
                color: var(--white);
            }
        }
    }
    .list-group-item{
        &.nav-pill-#{$name}{
            &.active{
                background-color: rgba(#{$color},1);
                border-color:rgba(#{$color},1);
            }
        }
    }
  }
  
  @each $name, $color in reboot.$colors {
    @include btn_pill($name, map.get(reboot.$colors, $name));
  }

.simple-list-example-scrollspy{
    .active{
        color: rgba(var(--primary),1);
    }
}

.content-header-text{
    font-weight: 600;
    color: rgba(var(--dark),.75);
}
.scrollpy-navbar{
    background-color: rgba(var(--primary),.1) !important;
    border-radius: var(--bs-border-radius);
    .navbar-collapse{
        padding: 0.5rem !important;
    }

  
}
.nested-nav .nav-link, .scrollpy-collapse-navbar .nav-link {
    color: rgba(var(--primary));

}

// >>-- 69 Scrollpy css end --<<
