/* =====================================
   CSS Shortcuts - Tailwind
======================================== */
.mg-0 {
  margin: 0px !important;
}

.mg-1 {
  margin: 1px !important;
}

.mg-2 {
  margin: 2px !important;
}

.mg-3 {
  margin: 3px !important;
}

.mg-4 {
  margin: 4px !important;
}

.mg-5 {
  margin: 5px !important;
}

.mg-6 {
  margin: 6px !important;
}

.mg-7 {
  margin: 7px !important;
}

.mg-8 {
  margin: 8px !important;
}

.mg-9 {
  margin: 9px !important;
}

.mg-10 {
  margin: 10px !important;
}

.mg-11 {
  margin: 11px !important;
}

.mg-12 {
  margin: 12px !important;
}

.mg-13 {
  margin: 13px !important;
}

.mg-14 {
  margin: 14px !important;
}

.mg-15 {
  margin: 15px !important;
}

.mg-16 {
  margin: 16px !important;
}

.mg-17 {
  margin: 17px !important;
}

.mg-18 {
  margin: 18px !important;
}

.mg-19 {
  margin: 19px !important;
}

.mg-20 {
  margin: 20px !important;
}

.mg-21 {
  margin: 21px !important;
}

.mg-22 {
  margin: 22px !important;
}

.mg-23 {
  margin: 23px !important;
}

.mg-24 {
  margin: 24px !important;
}

.mg-25 {
  margin: 25px !important;
}

.mg-26 {
  margin: 26px !important;
}

.mg-27 {
  margin: 27px !important;
}

.mg-28 {
  margin: 28px !important;
}

.mg-29 {
  margin: 29px !important;
}

.mg-30 {
  margin: 30px !important;
}

.mg-31 {
  margin: 31px !important;
}

.mg-32 {
  margin: 32px !important;
}

.mg-33 {
  margin: 33px !important;
}

.mg-34 {
  margin: 34px !important;
}

.mg-35 {
  margin: 35px !important;
}

.mg-36 {
  margin: 36px !important;
}

.mg-37 {
  margin: 37px !important;
}

.mg-38 {
  margin: 38px !important;
}

.mg-39 {
  margin: 39px !important;
}

.mg-40 {
  margin: 40px !important;
}

.mg-41 {
  margin: 41px !important;
}

.mg-42 {
  margin: 42px !important;
}

.mg-43 {
  margin: 43px !important;
}

.mg-44 {
  margin: 44px !important;
}

.mg-45 {
  margin: 45px !important;
}

.mg-46 {
  margin: 46px !important;
}

.mg-47 {
  margin: 47px !important;
}

.mg-48 {
  margin: 48px !important;
}

.mg-49 {
  margin: 49px !important;
}

.mg-50 {
  margin: 50px !important;
}

.mg-51 {
  margin: 51px !important;
}

.mg-52 {
  margin: 52px !important;
}

.mg-53 {
  margin: 53px !important;
}

.mg-54 {
  margin: 54px !important;
}

.mg-55 {
  margin: 55px !important;
}

.mg-56 {
  margin: 56px !important;
}

.mg-57 {
  margin: 57px !important;
}

.mg-58 {
  margin: 58px !important;
}

.mg-59 {
  margin: 59px !important;
}

.mg-60 {
  margin: 60px !important;
}

.mg-61 {
  margin: 61px !important;
}

.mg-62 {
  margin: 62px !important;
}

.mg-63 {
  margin: 63px !important;
}

.mg-64 {
  margin: 64px !important;
}

.mg-65 {
  margin: 65px !important;
}

.mg-66 {
  margin: 66px !important;
}

.mg-67 {
  margin: 67px !important;
}

.mg-68 {
  margin: 68px !important;
}

.mg-69 {
  margin: 69px !important;
}

.mg-70 {
  margin: 70px !important;
}

.mg-71 {
  margin: 71px !important;
}

.mg-72 {
  margin: 72px !important;
}

.mg-73 {
  margin: 73px !important;
}

.mg-74 {
  margin: 74px !important;
}

.mg-75 {
  margin: 75px !important;
}

.mg-76 {
  margin: 76px !important;
}

.mg-77 {
  margin: 77px !important;
}

.mg-78 {
  margin: 78px !important;
}

.mg-79 {
  margin: 79px !important;
}

.mg-80 {
  margin: 80px !important;
}

.mg-81 {
  margin: 81px !important;
}

.mg-82 {
  margin: 82px !important;
}

.mg-83 {
  margin: 83px !important;
}

.mg-84 {
  margin: 84px !important;
}

.mg-85 {
  margin: 85px !important;
}

.mg-86 {
  margin: 86px !important;
}

.mg-87 {
  margin: 87px !important;
}

.mg-88 {
  margin: 88px !important;
}

.mg-89 {
  margin: 89px !important;
}

.mg-90 {
  margin: 90px !important;
}

.mg-91 {
  margin: 91px !important;
}

.mg-92 {
  margin: 92px !important;
}

.mg-93 {
  margin: 93px !important;
}

.mg-94 {
  margin: 94px !important;
}

.mg-95 {
  margin: 95px !important;
}

.mg-96 {
  margin: 96px !important;
}

.mg-97 {
  margin: 97px !important;
}

.mg-98 {
  margin: 98px !important;
}

.mg-99 {
  margin: 99px !important;
}

.mg-100 {
  margin: 100px !important;
}

.mg-t-0 {
  margin-top: 0px !important;
}

.mg-t-1 {
  margin-top: 1px !important;
}

.mg-t-2 {
  margin-top: 2px !important;
}

.mg-t-3 {
  margin-top: 3px !important;
}

.mg-t-4 {
  margin-top: 4px !important;
}

.mg-t-5 {
  margin-top: 5px !important;
}

.mg-t-6 {
  margin-top: 6px !important;
}

.mg-t-7 {
  margin-top: 7px !important;
}

.mg-t-8 {
  margin-top: 8px !important;
}

.mg-t-9 {
  margin-top: 9px !important;
}

.mg-t-10 {
  margin-top: 10px !important;
}

.mg-t-11 {
  margin-top: 11px !important;
}

.mg-t-12 {
  margin-top: 12px !important;
}

.mg-t-13 {
  margin-top: 13px !important;
}

.mg-t-14 {
  margin-top: 14px !important;
}

.mg-t-15 {
  margin-top: 15px !important;
}

.mg-t-16 {
  margin-top: 16px !important;
}

.mg-t-17 {
  margin-top: 17px !important;
}

.mg-t-18 {
  margin-top: 18px !important;
}

.mg-t-19 {
  margin-top: 19px !important;
}

.mg-t-20 {
  margin-top: 20px !important;
}

.mg-t-21 {
  margin-top: 21px !important;
}

.mg-t-22 {
  margin-top: 22px !important;
}

.mg-t-23 {
  margin-top: 23px !important;
}

.mg-t-24 {
  margin-top: 24px !important;
}

.mg-t-25 {
  margin-top: 25px !important;
}

.mg-t-26 {
  margin-top: 26px !important;
}

.mg-t-27 {
  margin-top: 27px !important;
}

.mg-t-28 {
  margin-top: 28px !important;
}

.mg-t-29 {
  margin-top: 29px !important;
}

.mg-t-30 {
  margin-top: 30px !important;
}

.mg-t-31 {
  margin-top: 31px !important;
}

.mg-t-32 {
  margin-top: 32px !important;
}

.mg-t-33 {
  margin-top: 33px !important;
}

.mg-t-34 {
  margin-top: 34px !important;
}

.mg-t-35 {
  margin-top: 35px !important;
}

.mg-t-36 {
  margin-top: 36px !important;
}

.mg-t-37 {
  margin-top: 37px !important;
}

.mg-t-38 {
  margin-top: 38px !important;
}

.mg-t-39 {
  margin-top: 39px !important;
}

.mg-t-40 {
  margin-top: 40px !important;
}

.mg-t-41 {
  margin-top: 41px !important;
}

.mg-t-42 {
  margin-top: 42px !important;
}

.mg-t-43 {
  margin-top: 43px !important;
}

.mg-t-44 {
  margin-top: 44px !important;
}

.mg-t-45 {
  margin-top: 45px !important;
}

.mg-t-46 {
  margin-top: 46px !important;
}

.mg-t-47 {
  margin-top: 47px !important;
}

.mg-t-48 {
  margin-top: 48px !important;
}

.mg-t-49 {
  margin-top: 49px !important;
}

.mg-t-50 {
  margin-top: 50px !important;
}

.mg-t-51 {
  margin-top: 51px !important;
}

.mg-t-52 {
  margin-top: 52px !important;
}

.mg-t-53 {
  margin-top: 53px !important;
}

.mg-t-54 {
  margin-top: 54px !important;
}

.mg-t-55 {
  margin-top: 55px !important;
}

.mg-t-56 {
  margin-top: 56px !important;
}

.mg-t-57 {
  margin-top: 57px !important;
}

.mg-t-58 {
  margin-top: 58px !important;
}

.mg-t-59 {
  margin-top: 59px !important;
}

.mg-t-60 {
  margin-top: 60px !important;
}

.mg-t-61 {
  margin-top: 61px !important;
}

.mg-t-62 {
  margin-top: 62px !important;
}

.mg-t-63 {
  margin-top: 63px !important;
}

.mg-t-64 {
  margin-top: 64px !important;
}

.mg-t-65 {
  margin-top: 65px !important;
}

.mg-t-66 {
  margin-top: 66px !important;
}

.mg-t-67 {
  margin-top: 67px !important;
}

.mg-t-68 {
  margin-top: 68px !important;
}

.mg-t-69 {
  margin-top: 69px !important;
}

.mg-t-70 {
  margin-top: 70px !important;
}

.mg-t-71 {
  margin-top: 71px !important;
}

.mg-t-72 {
  margin-top: 72px !important;
}

.mg-t-73 {
  margin-top: 73px !important;
}

.mg-t-74 {
  margin-top: 74px !important;
}

.mg-t-75 {
  margin-top: 75px !important;
}

.mg-t-76 {
  margin-top: 76px !important;
}

.mg-t-77 {
  margin-top: 77px !important;
}

.mg-t-78 {
  margin-top: 78px !important;
}

.mg-t-79 {
  margin-top: 79px !important;
}

.mg-t-80 {
  margin-top: 80px !important;
}

.mg-t-81 {
  margin-top: 81px !important;
}

.mg-t-82 {
  margin-top: 82px !important;
}

.mg-t-83 {
  margin-top: 83px !important;
}

.mg-t-84 {
  margin-top: 84px !important;
}

.mg-t-85 {
  margin-top: 85px !important;
}

.mg-t-86 {
  margin-top: 86px !important;
}

.mg-t-87 {
  margin-top: 87px !important;
}

.mg-t-88 {
  margin-top: 88px !important;
}

.mg-t-89 {
  margin-top: 89px !important;
}

.mg-t-90 {
  margin-top: 90px !important;
}

.mg-t-91 {
  margin-top: 91px !important;
}

.mg-t-92 {
  margin-top: 92px !important;
}

.mg-t-93 {
  margin-top: 93px !important;
}

.mg-t-94 {
  margin-top: 94px !important;
}

.mg-t-95 {
  margin-top: 95px !important;
}

.mg-t-96 {
  margin-top: 96px !important;
}

.mg-t-97 {
  margin-top: 97px !important;
}

.mg-t-98 {
  margin-top: 98px !important;
}

.mg-t-99 {
  margin-top: 99px !important;
}

.mg-t-100 {
  margin-top: 100px !important;
}

.mg-e-0 {
  margin-right: 0px !important;
}

.mg-e-1 {
  margin-right: 1px !important;
}

.mg-e-2 {
  margin-right: 2px !important;
}

.mg-e-3 {
  margin-right: 3px !important;
}

.mg-e-4 {
  margin-right: 4px !important;
}

.mg-e-5 {
  margin-right: 5px !important;
}

.mg-e-6 {
  margin-right: 6px !important;
}

.mg-e-7 {
  margin-right: 7px !important;
}

.mg-e-8 {
  margin-right: 8px !important;
}

.mg-e-9 {
  margin-right: 9px !important;
}

.mg-e-10 {
  margin-right: 10px !important;
}

.mg-e-11 {
  margin-right: 11px !important;
}

.mg-e-12 {
  margin-right: 12px !important;
}

.mg-e-13 {
  margin-right: 13px !important;
}

.mg-e-14 {
  margin-right: 14px !important;
}

.mg-e-15 {
  margin-right: 15px !important;
}

.mg-e-16 {
  margin-right: 16px !important;
}

.mg-e-17 {
  margin-right: 17px !important;
}

.mg-e-18 {
  margin-right: 18px !important;
}

.mg-e-19 {
  margin-right: 19px !important;
}

.mg-e-20 {
  margin-right: 20px !important;
}

.mg-e-21 {
  margin-right: 21px !important;
}

.mg-e-22 {
  margin-right: 22px !important;
}

.mg-e-23 {
  margin-right: 23px !important;
}

.mg-e-24 {
  margin-right: 24px !important;
}

.mg-e-25 {
  margin-right: 25px !important;
}

.mg-e-26 {
  margin-right: 26px !important;
}

.mg-e-27 {
  margin-right: 27px !important;
}

.mg-e-28 {
  margin-right: 28px !important;
}

.mg-e-29 {
  margin-right: 29px !important;
}

.mg-e-30 {
  margin-right: 30px !important;
}

.mg-e-31 {
  margin-right: 31px !important;
}

.mg-e-32 {
  margin-right: 32px !important;
}

.mg-e-33 {
  margin-right: 33px !important;
}

.mg-e-34 {
  margin-right: 34px !important;
}

.mg-e-35 {
  margin-right: 35px !important;
}

.mg-e-36 {
  margin-right: 36px !important;
}

.mg-e-37 {
  margin-right: 37px !important;
}

.mg-e-38 {
  margin-right: 38px !important;
}

.mg-e-39 {
  margin-right: 39px !important;
}

.mg-e-40 {
  margin-right: 40px !important;
}

.mg-e-41 {
  margin-right: 41px !important;
}

.mg-e-42 {
  margin-right: 42px !important;
}

.mg-e-43 {
  margin-right: 43px !important;
}

.mg-e-44 {
  margin-right: 44px !important;
}

.mg-e-45 {
  margin-right: 45px !important;
}

.mg-e-46 {
  margin-right: 46px !important;
}

.mg-e-47 {
  margin-right: 47px !important;
}

.mg-e-48 {
  margin-right: 48px !important;
}

.mg-e-49 {
  margin-right: 49px !important;
}

.mg-e-50 {
  margin-right: 50px !important;
}

.mg-e-51 {
  margin-right: 51px !important;
}

.mg-e-52 {
  margin-right: 52px !important;
}

.mg-e-53 {
  margin-right: 53px !important;
}

.mg-e-54 {
  margin-right: 54px !important;
}

.mg-e-55 {
  margin-right: 55px !important;
}

.mg-e-56 {
  margin-right: 56px !important;
}

.mg-e-57 {
  margin-right: 57px !important;
}

.mg-e-58 {
  margin-right: 58px !important;
}

.mg-e-59 {
  margin-right: 59px !important;
}

.mg-e-60 {
  margin-right: 60px !important;
}

.mg-e-61 {
  margin-right: 61px !important;
}

.mg-e-62 {
  margin-right: 62px !important;
}

.mg-e-63 {
  margin-right: 63px !important;
}

.mg-e-64 {
  margin-right: 64px !important;
}

.mg-e-65 {
  margin-right: 65px !important;
}

.mg-e-66 {
  margin-right: 66px !important;
}

.mg-e-67 {
  margin-right: 67px !important;
}

.mg-e-68 {
  margin-right: 68px !important;
}

.mg-e-69 {
  margin-right: 69px !important;
}

.mg-e-70 {
  margin-right: 70px !important;
}

.mg-e-71 {
  margin-right: 71px !important;
}

.mg-e-72 {
  margin-right: 72px !important;
}

.mg-e-73 {
  margin-right: 73px !important;
}

.mg-e-74 {
  margin-right: 74px !important;
}

.mg-e-75 {
  margin-right: 75px !important;
}

.mg-e-76 {
  margin-right: 76px !important;
}

.mg-e-77 {
  margin-right: 77px !important;
}

.mg-e-78 {
  margin-right: 78px !important;
}

.mg-e-79 {
  margin-right: 79px !important;
}

.mg-e-80 {
  margin-right: 80px !important;
}

.mg-e-81 {
  margin-right: 81px !important;
}

.mg-e-82 {
  margin-right: 82px !important;
}

.mg-e-83 {
  margin-right: 83px !important;
}

.mg-e-84 {
  margin-right: 84px !important;
}

.mg-e-85 {
  margin-right: 85px !important;
}

.mg-e-86 {
  margin-right: 86px !important;
}

.mg-e-87 {
  margin-right: 87px !important;
}

.mg-e-88 {
  margin-right: 88px !important;
}

.mg-e-89 {
  margin-right: 89px !important;
}

.mg-e-90 {
  margin-right: 90px !important;
}

.mg-e-91 {
  margin-right: 91px !important;
}

.mg-e-92 {
  margin-right: 92px !important;
}

.mg-e-93 {
  margin-right: 93px !important;
}

.mg-e-94 {
  margin-right: 94px !important;
}

.mg-e-95 {
  margin-right: 95px !important;
}

.mg-e-96 {
  margin-right: 96px !important;
}

.mg-e-97 {
  margin-right: 97px !important;
}

.mg-e-98 {
  margin-right: 98px !important;
}

.mg-e-99 {
  margin-right: 99px !important;
}

.mg-e-100 {
  margin-right: 100px !important;
}

.mg-b-0 {
  margin-bottom: 0px !important;
}

.mg-b-1 {
  margin-bottom: 1px !important;
}

.mg-b-2 {
  margin-bottom: 2px !important;
}

.mg-b-3 {
  margin-bottom: 3px !important;
}

.mg-b-4 {
  margin-bottom: 4px !important;
}

.mg-b-5 {
  margin-bottom: 5px !important;
}

.mg-b-6 {
  margin-bottom: 6px !important;
}

.mg-b-7 {
  margin-bottom: 7px !important;
}

.mg-b-8 {
  margin-bottom: 8px !important;
}

.mg-b-9 {
  margin-bottom: 9px !important;
}

.mg-b-10 {
  margin-bottom: 10px !important;
}

.mg-b-11 {
  margin-bottom: 11px !important;
}

.mg-b-12 {
  margin-bottom: 12px !important;
}

.mg-b-13 {
  margin-bottom: 13px !important;
}

.mg-b-14 {
  margin-bottom: 14px !important;
}

.mg-b-15 {
  margin-bottom: 15px !important;
}

.mg-b-16 {
  margin-bottom: 16px !important;
}

.mg-b-17 {
  margin-bottom: 17px !important;
}

.mg-b-18 {
  margin-bottom: 18px !important;
}
.mg-b-19 {
  margin-bottom: 19px !important;
}

.mg-b-20 {
  margin-bottom: 20px !important;
}

.mg-b-21 {
  margin-bottom: 21px !important;
}

.mg-b-22 {
  margin-bottom: 22px !important;
}

.mg-b-23 {
  margin-bottom: 23px !important;
}

.mg-b-24 {
  margin-bottom: 24px !important;
}

.mg-b-25 {
  margin-bottom: 25px !important;
}

.mg-b-26 {
  margin-bottom: 26px !important;
}

.mg-b-27 {
  margin-bottom: 27px !important;
}

.mg-b-28 {
  margin-bottom: 28px !important;
}

.mg-b-29 {
  margin-bottom: 29px !important;
}

.mg-b-30 {
  margin-bottom: 30px !important;
}

.mg-b-31 {
  margin-bottom: 31px !important;
}

.mg-b-32 {
  margin-bottom: 32px !important;
}

.mg-b-33 {
  margin-bottom: 33px !important;
}

.mg-b-34 {
  margin-bottom: 34px !important;
}

.mg-b-35 {
  margin-bottom: 35px !important;
}

.mg-b-36 {
  margin-bottom: 36px !important;
}

.mg-b-37 {
  margin-bottom: 37px !important;
}

.mg-b-38 {
  margin-bottom: 38px !important;
}

.mg-b-39 {
  margin-bottom: 39px !important;
}

.mg-b-40 {
  margin-bottom: 40px !important;
}

.mg-b-41 {
  margin-bottom: 41px !important;
}

.mg-b-42 {
  margin-bottom: 42px !important;
}

.mg-b-43 {
  margin-bottom: 43px !important;
}

.mg-b-44 {
  margin-bottom: 44px !important;
}

.mg-b-45 {
  margin-bottom: 45px !important;
}

.mg-b-46 {
  margin-bottom: 46px !important;
}

.mg-b-47 {
  margin-bottom: 47px !important;
}

.mg-b-48 {
  margin-bottom: 48px !important;
}

.mg-b-49 {
  margin-bottom: 49px !important;
}

.mg-b-50 {
  margin-bottom: 50px !important;
}

.mg-b-51 {
  margin-bottom: 51px !important;
}

.mg-b-52 {
  margin-bottom: 52px !important;
}

.mg-b-53 {
  margin-bottom: 53px !important;
}

.mg-b-54 {
  margin-bottom: 54px !important;
}

.mg-b-55 {
  margin-bottom: 55px !important;
}

.mg-b-56 {
  margin-bottom: 56px !important;
}

.mg-b-57 {
  margin-bottom: 57px !important;
}

.mg-b-58 {
  margin-bottom: 58px !important;
}

.mg-b-59 {
  margin-bottom: 59px !important;
}

.mg-b-60 {
  margin-bottom: 60px !important;
}

.mg-b-61 {
  margin-bottom: 61px !important;
}

.mg-b-62 {
  margin-bottom: 62px !important;
}

.mg-b-63 {
  margin-bottom: 63px !important;
}

.mg-b-64 {
  margin-bottom: 64px !important;
}

.mg-b-65 {
  margin-bottom: 65px !important;
}

.mg-b-66 {
  margin-bottom: 66px !important;
}

.mg-b-67 {
  margin-bottom: 67px !important;
}

.mg-b-68 {
  margin-bottom: 68px !important;
}

.mg-b-69 {
  margin-bottom: 69px !important;
}

.mg-b-70 {
  margin-bottom: 70px !important;
}

.mg-b-71 {
  margin-bottom: 71px !important;
}

.mg-b-72 {
  margin-bottom: 72px !important;
}

.mg-b-73 {
  margin-bottom: 73px !important;
}

.mg-b-74 {
  margin-bottom: 74px !important;
}

.mg-b-75 {
  margin-bottom: 75px !important;
}

.mg-b-76 {
  margin-bottom: 76px !important;
}

.mg-b-77 {
  margin-bottom: 77px !important;
}

.mg-b-78 {
  margin-bottom: 78px !important;
}

.mg-b-79 {
  margin-bottom: 79px !important;
}

.mg-b-80 {
  margin-bottom: 80px !important;
}

.mg-b-81 {
  margin-bottom: 81px !important;
}

.mg-b-82 {
  margin-bottom: 82px !important;
}

.mg-b-83 {
  margin-bottom: 83px !important;
}

.mg-b-84 {
  margin-bottom: 84px !important;
}

.mg-b-85 {
  margin-bottom: 85px !important;
}

.mg-b-86 {
  margin-bottom: 86px !important;
}

.mg-b-87 {
  margin-bottom: 87px !important;
}

.mg-b-88 {
  margin-bottom: 88px !important;
}

.mg-b-89 {
  margin-bottom: 89px !important;
}

.mg-b-90 {
  margin-bottom: 90px !important;
}

.mg-b-91 {
  margin-bottom: 91px !important;
}

.mg-b-92 {
  margin-bottom: 92px !important;
}

.mg-b-93 {
  margin-bottom: 93px !important;
}

.mg-b-94 {
  margin-bottom: 94px !important;
}

.mg-b-95 {
  margin-bottom: 95px !important;
}

.mg-b-96 {
  margin-bottom: 96px !important;
}

.mg-b-97 {
  margin-bottom: 97px !important;
}

.mg-b-98 {
  margin-bottom: 98px !important;
}

.mg-b-99 {
  margin-bottom: 99px !important;
}

.mg-b-100 {
  margin-bottom: 100px !important;
}

.mg-s-0 {
  margin-left: 0px !important;
}

.mg-s-1 {
  margin-left: 1px !important;
}

.mg-s-2 {
  margin-left: 2px !important;
}

.mg-s-3 {
  margin-left: 3px !important;
}

.mg-s-4 {
  margin-left: 4px !important;
}

.mg-s-5 {
  margin-left: 5px !important;
}

.mg-s-6 {
  margin-left: 6px !important;
}

.mg-s-7 {
  margin-left: 7px !important;
}

.mg-s-8 {
  margin-left: 8px !important;
}

.mg-s-9 {
  margin-left: 9px !important;
}

.mg-s-10 {
  margin-left: 10px !important;
}

.mg-s-11 {
  margin-left: 11px !important;
}

.mg-s-12 {
  margin-left: 12px !important;
}

.mg-s-13 {
  margin-left: 13px !important;
}

.mg-s-14 {
  margin-left: 14px !important;
}

.mg-s-15 {
  margin-left: 15px !important;
}

.mg-s-16 {
  margin-left: 16px !important;
}

.mg-s-17 {
  margin-left: 17px !important;
}

.mg-s-18 {
  margin-left: 18px !important;
}

.mg-s-19 {
  margin-left: 19px !important;
}

.mg-s-20 {
  margin-left: 20px !important;
}

.mg-s-21 {
  margin-left: 21px !important;
}

.mg-s-22 {
  margin-left: 22px !important;
}

.mg-s-23 {
  margin-left: 23px !important;
}

.mg-s-24 {
  margin-left: 24px !important;
}

.mg-s-25 {
  margin-left: 25px !important;
}

.mg-s-26 {
  margin-left: 26px !important;
}

.mg-s-27 {
  margin-left: 27px !important;
}

.mg-s-28 {
  margin-left: 28px !important;
}

.mg-s-29 {
  margin-left: 29px !important;
}

.mg-s-30 {
  margin-left: 30px !important;
}

.mg-s-31 {
  margin-left: 31px !important;
}

.mg-s-32 {
  margin-left: 32px !important;
}

.mg-s-33 {
  margin-left: 33px !important;
}

.mg-s-34 {
  margin-left: 34px !important;
}

.mg-s-35 {
  margin-left: 35px !important;
}

.mg-s-36 {
  margin-left: 36px !important;
}

.mg-s-37 {
  margin-left: 37px !important;
}

.mg-s-38 {
  margin-left: 38px !important;
}

.mg-s-39 {
  margin-left: 39px !important;
}

.mg-s-40 {
  margin-left: 40px !important;
}

.mg-s-41 {
  margin-left: 41px !important;
}

.mg-s-42 {
  margin-left: 42px !important;
}

.mg-s-43 {
  margin-left: 43px !important;
}

.mg-s-44 {
  margin-left: 44px !important;
}

.mg-s-45 {
  margin-left: 45px !important;
}

.mg-s-46 {
  margin-left: 46px !important;
}

.mg-s-47 {
  margin-left: 47px !important;
}

.mg-s-48 {
  margin-left: 48px !important;
}

.mg-s-49 {
  margin-left: 49px !important;
}

.mg-s-50 {
  margin-left: 50px !important;
}

.mg-s-51 {
  margin-left: 51px !important;
}

.mg-s-52 {
  margin-left: 52px !important;
}

.mg-s-53 {
  margin-left: 53px !important;
}

.mg-s-54 {
  margin-left: 54px !important;
}

.mg-s-55 {
  margin-left: 55px !important;
}

.mg-s-56 {
  margin-left: 56px !important;
}

.mg-s-57 {
  margin-left: 57px !important;
}

.mg-s-58 {
  margin-left: 58px !important;
}

.mg-s-59 {
  margin-left: 59px !important;
}

.mg-s-60 {
  margin-left: 60px !important;
}

.mg-s-61 {
  margin-left: 61px !important;
}

.mg-s-62 {
  margin-left: 62px !important;
}

.mg-s-63 {
  margin-left: 63px !important;
}

.mg-s-64 {
  margin-left: 64px !important;
}

.mg-s-65 {
  margin-left: 65px !important;
}

.mg-s-66 {
  margin-left: 66px !important;
}

.mg-s-67 {
  margin-left: 67px !important;
}

.mg-s-68 {
  margin-left: 68px !important;
}

.mg-s-69 {
  margin-left: 69px !important;
}

.mg-s-70 {
  margin-left: 70px !important;
}

.mg-s-71 {
  margin-left: 71px !important;
}

.mg-s-72 {
  margin-left: 72px !important;
}

.mg-s-73 {
  margin-left: 73px !important;
}

.mg-s-74 {
  margin-left: 74px !important;
}

.mg-s-75 {
  margin-left: 75px !important;
}

.mg-s-76 {
  margin-left: 76px !important;
}

.mg-s-77 {
  margin-left: 77px !important;
}

.mg-s-78 {
  margin-left: 78px !important;
}

.mg-s-79 {
  margin-left: 79px !important;
}

.mg-s-80 {
  margin-left: 80px !important;
}

.mg-s-81 {
  margin-left: 81px !important;
}

.mg-s-82 {
  margin-left: 82px !important;
}

.mg-s-83 {
  margin-left: 83px !important;
}

.mg-s-84 {
  margin-left: 84px !important;
}

.mg-s-85 {
  margin-left: 85px !important;
}

.mg-s-86 {
  margin-left: 86px !important;
}

.mg-s-87 {
  margin-left: 87px !important;
}

.mg-s-88 {
  margin-left: 88px !important;
}

.mg-s-89 {
  margin-left: 89px !important;
}

.mg-s-90 {
  margin-left: 90px !important;
}

.mg-s-91 {
  margin-left: 91px !important;
}

.mg-s-92 {
  margin-left: 92px !important;
}

.mg-s-93 {
  margin-left: 93px !important;
}

.mg-s-94 {
  margin-left: 94px !important;
}

.mg-s-95 {
  margin-left: 95px !important;
}

.mg-s-96 {
  margin-left: 96px !important;
}

.mg-s-97 {
  margin-left: 97px !important;
}

.mg-s-98 {
  margin-left: 98px !important;
}

.mg-s-99 {
  margin-left: 99px !important;
}

.mg-s-100 {
  margin-left: 100px !important;
}

.pa-0 {
  padding: 0px !important;
}

.pa-1 {
  padding: 1px !important;
}

.pa-2 {
  padding: 2px !important;
}

.pa-3 {
  padding: 3px !important;
}

.pa-4 {
  padding: 4px !important;
}

.pa-5 {
  padding: 5px !important;
}

.pa-6 {
  padding: 6px !important;
}

.pa-7 {
  padding: 7px !important;
}

.pa-8 {
  padding: 8px !important;
}

.pa-9 {
  padding: 9px !important;
}

.pa-10 {
  padding: 10px !important;
}

.pa-11 {
  padding: 11px !important;
}

.pa-12 {
  padding: 12px !important;
}

.pa-13 {
  padding: 13px !important;
}

.pa-14 {
  padding: 14px !important;
}

.pa-15 {
  padding: 15px !important;
}

.pa-16 {
  padding: 16px !important;
}

.pa-17 {
  padding: 17px !important;
}

.pa-18 {
  padding: 18px !important;
}

.pa-19 {
  padding: 19px !important;
}

.pa-20 {
  padding: 20px !important;
}

.pa-21 {
  padding: 21px !important;
}

.pa-22 {
  padding: 22px !important;
}

.pa-23 {
  padding: 23px !important;
}

.pa-24 {
  padding: 24px !important;
}

.pa-25 {
  padding: 25px !important;
}

.pa-26 {
  padding: 26px !important;
}

.pa-27 {
  padding: 27px !important;
}

.pa-28 {
  padding: 28px !important;
}

.pa-29 {
  padding: 29px !important;
}

.pa-30 {
  padding: 30px !important;
}

.pa-31 {
  padding: 31px !important;
}

.pa-32 {
  padding: 32px !important;
}

.pa-33 {
  padding: 33px !important;
}

.pa-34 {
  padding: 34px !important;
}

.pa-35 {
  padding: 35px !important;
}

.pa-36 {
  padding: 36px !important;
}

.pa-37 {
  padding: 37px !important;
}

.pa-38 {
  padding: 38px !important;
}

.pa-39 {
  padding: 39px !important;
}

.pa-40 {
  padding: 40px !important;
}

.pa-t-0 {
  padding-top: 0px !important;
}

.pa-t-1 {
  padding-top: 1px !important;
}

.pa-t-2 {
  padding-top: 2px !important;
}

.pa-t-3 {
  padding-top: 3px !important;
}

.pa-t-4 {
  padding-top: 4px !important;
}

.pa-t-5 {
  padding-top: 5px !important;
}

.pa-t-6 {
  padding-top: 6px !important;
}

.pa-t-7 {
  padding-top: 7px !important;
}

.pa-t-8 {
  padding-top: 8px !important;
}

.pa-t-9 {
  padding-top: 9px !important;
}

.pa-t-10 {
  padding-top: 10px !important;
}

.pa-t-11 {
  padding-top: 11px !important;
}

.pa-t-12 {
  padding-top: 12px !important;
}

.pa-t-13 {
  padding-top: 13px !important;
}

.pa-t-14 {
  padding-top: 14px !important;
}

.pa-t-15 {
  padding-top: 15px !important;
}

.pa-t-16 {
  padding-top: 16px !important;
}

.pa-t-17 {
  padding-top: 17px !important;
}

.pa-t-18 {
  padding-top: 18px !important;
}

.pa-t-19 {
  padding-top: 19px !important;
}

.pa-t-20 {
  padding-top: 20px !important;
}

.pa-t-21 {
  padding-top: 21px !important;
}

.pa-t-22 {
  padding-top: 22px !important;
}

.pa-t-23 {
  padding-top: 23px !important;
}

.pa-t-24 {
  padding-top: 24px !important;
}

.pa-t-25 {
  padding-top: 25px !important;
}

.pa-t-26 {
  padding-top: 26px !important;
}

.pa-t-27 {
  padding-top: 27px !important;
}

.pa-t-28 {
  padding-top: 28px !important;
}

.pa-t-29 {
  padding-top: 29px !important;
}

.pa-t-30 {
  padding-top: 30px !important;
}

.pa-t-31 {
  padding-top: 31px !important;
}

.pa-t-32 {
  padding-top: 32px !important;
}

.pa-t-33 {
  padding-top: 33px !important;
}

.pa-t-34 {
  padding-top: 34px !important;
}

.pa-t-35 {
  padding-top: 35px !important;
}

.pa-t-36 {
  padding-top: 36px !important;
}

.pa-t-37 {
  padding-top: 37px !important;
}

.pa-t-38 {
  padding-top: 38px !important;
}

.pa-t-39 {
  padding-top: 39px !important;
}

.pa-t-40 {
  padding-top: 40px !important;
}

.pa-e-0 {
  padding-right: 0px !important;
}

.pa-e-1 {
  padding-right: 1px !important;
}

.pa-e-2 {
  padding-right: 2px !important;
}

.pa-e-3 {
  padding-right: 3px !important;
}

.pa-e-4 {
  padding-right: 4px !important;
}

.pa-e-5 {
  padding-right: 5px !important;
}

.pa-e-6 {
  padding-right: 6px !important;
}

.pa-e-7 {
  padding-right: 7px !important;
}

.pa-e-8 {
  padding-right: 8px !important;
}

.pa-e-9 {
  padding-right: 9px !important;
}

.pa-e-10 {
  padding-right: 10px !important;
}

.pa-e-11 {
  padding-right: 11px !important;
}

.pa-e-12 {
  padding-right: 12px !important;
}

.pa-e-13 {
  padding-right: 13px !important;
}

.pa-e-14 {
  padding-right: 14px !important;
}

.pa-e-15 {
  padding-right: 15px !important;
}

.pa-e-16 {
  padding-right: 16px !important;
}

.pa-e-17 {
  padding-right: 17px !important;
}

.pa-e-18 {
  padding-right: 18px !important;
}

.pa-e-19 {
  padding-right: 19px !important;
}

.pa-e-20 {
  padding-right: 20px !important;
}

.pa-e-21 {
  padding-right: 21px !important;
}

.pa-e-22 {
  padding-right: 22px !important;
}

.pa-e-23 {
  padding-right: 23px !important;
}

.pa-e-24 {
  padding-right: 24px !important;
}

.pa-e-25 {
  padding-right: 25px !important;
}

.pa-e-26 {
  padding-right: 26px !important;
}

.pa-e-27 {
  padding-right: 27px !important;
}

.pa-e-28 {
  padding-right: 28px !important;
}

.pa-e-29 {
  padding-right: 29px !important;
}

.pa-e-30 {
  padding-right: 30px !important;
}

.pa-e-31 {
  padding-right: 31px !important;
}

.pa-e-32 {
  padding-right: 32px !important;
}

.pa-e-33 {
  padding-right: 33px !important;
}

.pa-e-34 {
  padding-right: 34px !important;
}

.pa-e-35 {
  padding-right: 35px !important;
}

.pa-e-36 {
  padding-right: 36px !important;
}

.pa-e-37 {
  padding-right: 37px !important;
}

.pa-e-38 {
  padding-right: 38px !important;
}

.pa-e-39 {
  padding-right: 39px !important;
}

.pa-e-40 {
  padding-right: 40px !important;
}

.pa-b-0 {
  padding-bottom: 0px !important;
}

.pa-b-1 {
  padding-bottom: 1px !important;
}

.pa-b-2 {
  padding-bottom: 2px !important;
}

.pa-b-3 {
  padding-bottom: 3px !important;
}

.pa-b-4 {
  padding-bottom: 4px !important;
}

.pa-b-5 {
  padding-bottom: 5px !important;
}

.pa-b-6 {
  padding-bottom: 6px !important;
}

.pa-b-7 {
  padding-bottom: 7px !important;
}

.pa-b-8 {
  padding-bottom: 8px !important;
}

.pa-b-9 {
  padding-bottom: 9px !important;
}

.pa-b-10 {
  padding-bottom: 10px !important;
}

.pa-b-11 {
  padding-bottom: 11px !important;
}

.pa-b-12 {
  padding-bottom: 12px !important;
}

.pa-b-13 {
  padding-bottom: 13px !important;
}

.pa-b-14 {
  padding-bottom: 14px !important;
}

.pa-b-15 {
  padding-bottom: 15px !important;
}

.pa-b-16 {
  padding-bottom: 16px !important;
}

.pa-b-17 {
  padding-bottom: 17px !important;
}

.pa-b-18 {
  padding-bottom: 18px !important;
}

.pa-b-19 {
  padding-bottom: 19px !important;
}

.pa-b-20 {
  padding-bottom: 20px !important;
}

.pa-b-21 {
  padding-bottom: 21px !important;
}

.pa-b-22 {
  padding-bottom: 22px !important;
}

.pa-b-23 {
  padding-bottom: 23px !important;
}

.pa-b-24 {
  padding-bottom: 24px !important;
}

.pa-b-25 {
  padding-bottom: 25px !important;
}

.pa-b-26 {
  padding-bottom: 26px !important;
}

.pa-b-27 {
  padding-bottom: 27px !important;
}

.pa-b-28 {
  padding-bottom: 28px !important;
}

.pa-b-29 {
  padding-bottom: 29px !important;
}

.pa-b-30 {
  padding-bottom: 30px !important;
}

.pa-b-31 {
  padding-bottom: 31px !important;
}

.pa-b-32 {
  padding-bottom: 32px !important;
}

.pa-b-33 {
  padding-bottom: 33px !important;
}

.pa-b-34 {
  padding-bottom: 34px !important;
}

.pa-b-35 {
  padding-bottom: 35px !important;
}

.pa-b-36 {
  padding-bottom: 36px !important;
}

.pa-b-37 {
  padding-bottom: 37px !important;
}

.pa-b-38 {
  padding-bottom: 38px !important;
}

.pa-b-39 {
  padding-bottom: 39px !important;
}

.pa-b-40 {
  padding-bottom: 40px !important;
}

.pa-s-0 {
  padding-left: 0px !important;
}

.pa-s-1 {
  padding-left: 1px !important;
}

.pa-s-2 {
  padding-left: 2px !important;
}

.pa-s-3 {
  padding-left: 3px !important;
}

.pa-s-4 {
  padding-left: 4px !important;
}

.pa-s-5 {
  padding-left: 5px !important;
}

.pa-s-6 {
  padding-left: 6px !important;
}

.pa-s-7 {
  padding-left: 7px !important;
}

.pa-s-8 {
  padding-left: 8px !important;
}

.pa-s-9 {
  padding-left: 9px !important;
}

.pa-s-10 {
  padding-left: 10px !important;
}

.pa-s-11 {
  padding-left: 11px !important;
}

.pa-s-12 {
  padding-left: 12px !important;
}

.pa-s-13 {
  padding-left: 13px !important;
}

.pa-s-14 {
  padding-left: 14px !important;
}

.pa-s-15 {
  padding-left: 15px !important;
}

.pa-s-16 {
  padding-left: 16px !important;
}

.pa-s-17 {
  padding-left: 17px !important;
}

.pa-s-18 {
  padding-left: 18px !important;
}

.pa-s-19 {
  padding-left: 19px !important;
}

.pa-s-20 {
  padding-left: 20px !important;
}

.pa-s-21 {
  padding-left: 21px !important;
}

.pa-s-22 {
  padding-left: 22px !important;
}

.pa-s-23 {
  padding-left: 23px !important;
}

.pa-s-24 {
  padding-left: 24px !important;
}

.pa-s-25 {
  padding-left: 25px !important;
}

.pa-s-26 {
  padding-left: 26px !important;
}

.pa-s-27 {
  padding-left: 27px !important;
}

.pa-s-28 {
  padding-left: 28px !important;
}

.pa-s-29 {
  padding-left: 29px !important;
}

.pa-s-30 {
  padding-left: 30px !important;
}

.pa-s-31 {
  padding-left: 31px !important;
}

.pa-s-32 {
  padding-left: 32px !important;
}

.pa-s-33 {
  padding-left: 33px !important;
}

.pa-s-34 {
  padding-left: 34px !important;
}

.pa-s-35 {
  padding-left: 35px !important;
}

.pa-s-36 {
  padding-left: 36px !important;
}

.pa-s-37 {
  padding-left: 37px !important;
}

.pa-s-38 {
  padding-left: 38px !important;
}

.pa-s-39 {
  padding-left: 39px !important;
}

.pa-s-40 {
  padding-left: 40px !important;
}

.b-r-0 {
  border-radius: 0px !important;
}
.b-r-0:before {
  border-radius: 0px !important;
}

.b-r-1 {
  border-radius: 1px !important;
}
.b-r-1:before {
  border-radius: 1px !important;
}

.b-r-2 {
  border-radius: 2px !important;
}
.b-r-2:before {
  border-radius: 2px !important;
}

.b-r-3 {
  border-radius: 3px !important;
}
.b-r-3:before {
  border-radius: 3px !important;
}

.b-r-4 {
  border-radius: 4px !important;
}
.b-r-4:before {
  border-radius: 4px !important;
}

.b-r-5 {
  border-radius: 5px !important;
}
.b-r-5:before {
  border-radius: 5px !important;
}

.b-r-6 {
  border-radius: 6px !important;
}
.b-r-6:before {
  border-radius: 6px !important;
}

.b-r-7 {
  border-radius: 7px !important;
}
.b-r-7:before {
  border-radius: 7px !important;
}

.b-r-8 {
  border-radius: 8px !important;
}
.b-r-8:before {
  border-radius: 8px !important;
}

.b-r-9 {
  border-radius: 9px !important;
}
.b-r-9:before {
  border-radius: 9px !important;
}

.b-r-10 {
  border-radius: 10px !important;
}
.b-r-10:before {
  border-radius: 10px !important;
}

.b-r-11 {
  border-radius: 11px !important;
}
.b-r-11:before {
  border-radius: 11px !important;
}

.b-r-12 {
  border-radius: 12px !important;
}
.b-r-12:before {
  border-radius: 12px !important;
}

.b-r-13 {
  border-radius: 13px !important;
}
.b-r-13:before {
  border-radius: 13px !important;
}

.b-r-14 {
  border-radius: 14px !important;
}
.b-r-14:before {
  border-radius: 14px !important;
}

.b-r-15 {
  border-radius: 15px !important;
}
.b-r-15:before {
  border-radius: 15px !important;
}

.b-r-16 {
  border-radius: 16px !important;
}
.b-r-16:before {
  border-radius: 16px !important;
}

.b-r-17 {
  border-radius: 17px !important;
}
.b-r-17:before {
  border-radius: 17px !important;
}

.b-r-18 {
  border-radius: 18px !important;
}
.b-r-18:before {
  border-radius: 18px !important;
}

.b-r-19 {
  border-radius: 19px !important;
}
.b-r-19:before {
  border-radius: 19px !important;
}

.b-r-20 {
  border-radius: 20px !important;
}
.b-r-20:before {
  border-radius: 20px !important;
}

.b-r-21 {
  border-radius: 21px !important;
}
.b-r-21:before {
  border-radius: 21px !important;
}

.b-r-22 {
  border-radius: 22px !important;
}
.b-r-22:before {
  border-radius: 22px !important;
}

.b-r-23 {
  border-radius: 23px !important;
}
.b-r-23:before {
  border-radius: 23px !important;
}

.b-r-24 {
  border-radius: 24px !important;
}
.b-r-24:before {
  border-radius: 24px !important;
}

.b-r-25 {
  border-radius: 25px !important;
}
.b-r-25:before {
  border-radius: 25px !important;
}

.b-r-26 {
  border-radius: 26px !important;
}
.b-r-26:before {
  border-radius: 26px !important;
}

.b-r-27 {
  border-radius: 27px !important;
}
.b-r-27:before {
  border-radius: 27px !important;
}

.b-r-28 {
  border-radius: 28px !important;
}
.b-r-28:before {
  border-radius: 28px !important;
}

.b-r-29 {
  border-radius: 29px !important;
}
.b-r-29:before {
  border-radius: 29px !important;
}

.b-r-30 {
  border-radius: 30px !important;
}
.b-r-30:before {
  border-radius: 30px !important;
}

.b-r-31 {
  border-radius: 31px !important;
}
.b-r-31:before {
  border-radius: 31px !important;
}

.b-r-32 {
  border-radius: 32px !important;
}
.b-r-32:before {
  border-radius: 32px !important;
}

.b-r-33 {
  border-radius: 33px !important;
}
.b-r-33:before {
  border-radius: 33px !important;
}

.b-r-34 {
  border-radius: 34px !important;
}
.b-r-34:before {
  border-radius: 34px !important;
}

.b-r-35 {
  border-radius: 35px !important;
}
.b-r-35:before {
  border-radius: 35px !important;
}

.b-r-36 {
  border-radius: 36px !important;
}
.b-r-36:before {
  border-radius: 36px !important;
}

.b-r-37 {
  border-radius: 37px !important;
}
.b-r-37:before {
  border-radius: 37px !important;
}

.b-r-38 {
  border-radius: 38px !important;
}
.b-r-38:before {
  border-radius: 38px !important;
}

.b-r-39 {
  border-radius: 39px !important;
}
.b-r-39:before {
  border-radius: 39px !important;
}

.b-r-40 {
  border-radius: 40px !important;
}
.b-r-40:before {
  border-radius: 40px !important;
}

.b-r-41 {
  border-radius: 41px !important;
}
.b-r-41:before {
  border-radius: 41px !important;
}

.b-r-42 {
  border-radius: 42px !important;
}
.b-r-42:before {
  border-radius: 42px !important;
}

.b-r-43 {
  border-radius: 43px !important;
}
.b-r-43:before {
  border-radius: 43px !important;
}

.b-r-44 {
  border-radius: 44px !important;
}
.b-r-44:before {
  border-radius: 44px !important;
}

.b-r-45 {
  border-radius: 45px !important;
}
.b-r-45:before {
  border-radius: 45px !important;
}

.b-r-46 {
  border-radius: 46px !important;
}
.b-r-46:before {
  border-radius: 46px !important;
}

.b-r-47 {
  border-radius: 47px !important;
}
.b-r-47:before {
  border-radius: 47px !important;
}

.b-r-48 {
  border-radius: 48px !important;
}
.b-r-48:before {
  border-radius: 48px !important;
}

.b-r-49 {
  border-radius: 49px !important;
}
.b-r-49:before {
  border-radius: 49px !important;
}

.b-r-50 {
  border-radius: 50px !important;
}
.b-r-50:before {
  border-radius: 50px !important;
}

.b-r-51 {
  border-radius: 51px !important;
}
.b-r-51:before {
  border-radius: 51px !important;
}

.b-r-52 {
  border-radius: 52px !important;
}
.b-r-52:before {
  border-radius: 52px !important;
}

.b-r-53 {
  border-radius: 53px !important;
}
.b-r-53:before {
  border-radius: 53px !important;
}

.b-r-54 {
  border-radius: 54px !important;
}
.b-r-54:before {
  border-radius: 54px !important;
}

.b-r-55 {
  border-radius: 55px !important;
}
.b-r-55:before {
  border-radius: 55px !important;
}

.b-r-56 {
  border-radius: 56px !important;
}
.b-r-56:before {
  border-radius: 56px !important;
}

.b-r-57 {
  border-radius: 57px !important;
}
.b-r-57:before {
  border-radius: 57px !important;
}

.b-r-58 {
  border-radius: 58px !important;
}
.b-r-58:before {
  border-radius: 58px !important;
}

.b-r-59 {
  border-radius: 59px !important;
}
.b-r-59:before {
  border-radius: 59px !important;
}

.b-r-60 {
  border-radius: 60px !important;
}
.b-r-60:before {
  border-radius: 60px !important;
}

.b-r-61 {
  border-radius: 61px !important;
}
.b-r-61:before {
  border-radius: 61px !important;
}

.b-r-62 {
  border-radius: 62px !important;
}
.b-r-62:before {
  border-radius: 62px !important;
}

.b-r-63 {
  border-radius: 63px !important;
}
.b-r-63:before {
  border-radius: 63px !important;
}

.b-r-64 {
  border-radius: 64px !important;
}
.b-r-64:before {
  border-radius: 64px !important;
}

.b-r-65 {
  border-radius: 65px !important;
}
.b-r-65:before {
  border-radius: 65px !important;
}

.b-r-66 {
  border-radius: 66px !important;
}
.b-r-66:before {
  border-radius: 66px !important;
}

.b-r-67 {
  border-radius: 67px !important;
}
.b-r-67:before {
  border-radius: 67px !important;
}

.b-r-68 {
  border-radius: 68px !important;
}
.b-r-68:before {
  border-radius: 68px !important;
}

.b-r-69 {
  border-radius: 69px !important;
}
.b-r-69:before {
  border-radius: 69px !important;
}

.b-r-70 {
  border-radius: 70px !important;
}
.b-r-70:before {
  border-radius: 70px !important;
}

.b-r-71 {
  border-radius: 71px !important;
}
.b-r-71:before {
  border-radius: 71px !important;
}

.b-r-72 {
  border-radius: 72px !important;
}
.b-r-72:before {
  border-radius: 72px !important;
}

.b-r-73 {
  border-radius: 73px !important;
}
.b-r-73:before {
  border-radius: 73px !important;
}

.b-r-74 {
  border-radius: 74px !important;
}
.b-r-74:before {
  border-radius: 74px !important;
}

.b-r-75 {
  border-radius: 75px !important;
}
.b-r-75:before {
  border-radius: 75px !important;
}

.b-r-76 {
  border-radius: 76px !important;
}
.b-r-76:before {
  border-radius: 76px !important;
}

.b-r-77 {
  border-radius: 77px !important;
}
.b-r-77:before {
  border-radius: 77px !important;
}

.b-r-78 {
  border-radius: 78px !important;
}
.b-r-78:before {
  border-radius: 78px !important;
}

.b-r-79 {
  border-radius: 79px !important;
}
.b-r-79:before {
  border-radius: 79px !important;
}

.b-r-80 {
  border-radius: 80px !important;
}
.b-r-80:before {
  border-radius: 80px !important;
}

.b-r-81 {
  border-radius: 81px !important;
}
.b-r-81:before {
  border-radius: 81px !important;
}

.b-r-82 {
  border-radius: 82px !important;
}
.b-r-82:before {
  border-radius: 82px !important;
}

.b-r-83 {
  border-radius: 83px !important;
}
.b-r-83:before {
  border-radius: 83px !important;
}

.b-r-84 {
  border-radius: 84px !important;
}
.b-r-84:before {
  border-radius: 84px !important;
}

.b-r-85 {
  border-radius: 85px !important;
}
.b-r-85:before {
  border-radius: 85px !important;
}

.b-r-86 {
  border-radius: 86px !important;
}
.b-r-86:before {
  border-radius: 86px !important;
}

.b-r-87 {
  border-radius: 87px !important;
}
.b-r-87:before {
  border-radius: 87px !important;
}

.b-r-88 {
  border-radius: 88px !important;
}
.b-r-88:before {
  border-radius: 88px !important;
}

.b-r-89 {
  border-radius: 89px !important;
}
.b-r-89:before {
  border-radius: 89px !important;
}

.b-r-90 {
  border-radius: 90px !important;
}
.b-r-90:before {
  border-radius: 90px !important;
}

.b-r-91 {
  border-radius: 91px !important;
}
.b-r-91:before {
  border-radius: 91px !important;
}

.b-r-92 {
  border-radius: 92px !important;
}
.b-r-92:before {
  border-radius: 92px !important;
}

.b-r-93 {
  border-radius: 93px !important;
}
.b-r-93:before {
  border-radius: 93px !important;
}

.b-r-94 {
  border-radius: 94px !important;
}
.b-r-94:before {
  border-radius: 94px !important;
}

.b-r-95 {
  border-radius: 95px !important;
}
.b-r-95:before {
  border-radius: 95px !important;
}

.b-r-96 {
  border-radius: 96px !important;
}
.b-r-96:before {
  border-radius: 96px !important;
}

.b-r-97 {
  border-radius: 97px !important;
}
.b-r-97:before {
  border-radius: 97px !important;
}

.b-r-98 {
  border-radius: 98px !important;
}
.b-r-98:before {
  border-radius: 98px !important;
}

.b-r-99 {
  border-radius: 99px !important;
}
.b-r-99:before {
  border-radius: 99px !important;
}

.b-r-100 {
  border-radius: 100px !important;
}
.b-r-100:before {
  border-radius: 100px !important;
}

.f-s-0 {
  font-size: 0px !important;
}

.f-s-1 {
  font-size: 1px !important;
}

.f-s-2 {
  font-size: 2px !important;
}

.f-s-3 {
  font-size: 3px !important;
}

.f-s-4 {
  font-size: 4px !important;
}

.f-s-5 {
  font-size: 5px !important;
}

.f-s-6 {
  font-size: 6px !important;
}

.f-s-7 {
  font-size: 7px !important;
}

.f-s-8 {
  font-size: 8px !important;
}

.f-s-9 {
  font-size: 9px !important;
}

.f-s-10 {
  font-size: 10px !important;
}

.f-s-11 {
  font-size: 11px !important;
}

.f-s-12 {
  font-size: 12px !important;
}

.f-s-13 {
  font-size: 13px !important;
}

.f-s-14 {
  font-size: 14px !important;
}

.f-s-15 {
  font-size: 15px !important;
}

.f-s-16 {
  font-size: 16px !important;
}

.f-s-17 {
  font-size: 17px !important;
}

.f-s-18 {
  font-size: 18px !important;
}

.f-s-19 {
  font-size: 19px !important;
}

.f-s-20 {
  font-size: 20px !important;
}

.f-s-21 {
  font-size: 21px !important;
}

.f-s-22 {
  font-size: 22px !important;
}

.f-s-23 {
  font-size: 23px !important;
}

.f-s-24 {
  font-size: 24px !important;
}

.f-s-25 {
  font-size: 25px !important;
}

.f-s-26 {
  font-size: 26px !important;
}

.f-s-27 {
  font-size: 27px !important;
}

.f-s-28 {
  font-size: 28px !important;
}

.f-s-29 {
  font-size: 29px !important;
}

.f-s-30 {
  font-size: 30px !important;
}

.f-s-31 {
  font-size: 31px !important;
}

.f-s-32 {
  font-size: 32px !important;
}

.f-s-33 {
  font-size: 33px !important;
}

.f-s-34 {
  font-size: 34px !important;
}

.f-s-35 {
  font-size: 35px !important;
}

.f-s-36 {
  font-size: 36px !important;
}

.f-s-37 {
  font-size: 37px !important;
}

.f-s-38 {
  font-size: 38px !important;
}

.f-s-39 {
  font-size: 39px !important;
}

.f-s-40 {
  font-size: 40px !important;
}

.f-s-41 {
  font-size: 41px !important;
}

.f-s-42 {
  font-size: 42px !important;
}

.f-s-43 {
  font-size: 43px !important;
}

.f-s-44 {
  font-size: 44px !important;
}

.f-s-45 {
  font-size: 45px !important;
}

.f-s-46 {
  font-size: 46px !important;
}

.f-s-47 {
  font-size: 47px !important;
}

.f-s-48 {
  font-size: 48px !important;
}

.f-s-49 {
  font-size: 49px !important;
}

.f-s-50 {
  font-size: 50px !important;
}

.f-s-51 {
  font-size: 51px !important;
}

.f-s-52 {
  font-size: 52px !important;
}

.f-s-53 {
  font-size: 53px !important;
}

.f-s-54 {
  font-size: 54px !important;
}

.f-s-55 {
  font-size: 55px !important;
}

.f-s-56 {
  font-size: 56px !important;
}

.f-s-57 {
  font-size: 57px !important;
}

.f-s-58 {
  font-size: 58px !important;
}

.f-s-59 {
  font-size: 59px !important;
}

.f-s-60 {
  font-size: 60px !important;
}

.f-s-61 {
  font-size: 61px !important;
}

.f-s-62 {
  font-size: 62px !important;
}

.f-s-63 {
  font-size: 63px !important;
}

.f-s-64 {
  font-size: 64px !important;
}

.f-s-65 {
  font-size: 65px !important;
}

.f-s-66 {
  font-size: 66px !important;
}

.f-s-67 {
  font-size: 67px !important;
}

.f-s-68 {
  font-size: 68px !important;
}

.f-s-69 {
  font-size: 69px !important;
}

.f-s-70 {
  font-size: 70px !important;
}

.f-s-71 {
  font-size: 71px !important;
}

.f-s-72 {
  font-size: 72px !important;
}

.f-s-73 {
  font-size: 73px !important;
}

.f-s-74 {
  font-size: 74px !important;
}

.f-s-75 {
  font-size: 75px !important;
}

.f-s-76 {
  font-size: 76px !important;
}

.f-s-77 {
  font-size: 77px !important;
}

.f-s-78 {
  font-size: 78px !important;
}

.f-s-79 {
  font-size: 79px !important;
}

.f-s-80 {
  font-size: 80px !important;
}

.h-0 {
  height: 0px !important;
}

.h-5 {
  height: 5px !important;
}

.h-10 {
  height: 10px !important;
}

.h-15 {
  height: 15px !important;
}

.h-20 {
  height: 20px !important;
}

.h-25 {
  height: 25px !important;
}

.h-30 {
  height: 30px !important;
}

.h-32 {
  height: 32px !important;
}

.h-35 {
  height: 35px !important;
}

.h-40 {
  height: 40px !important;
}

.h-45 {
  height: 45px !important;
}

.h-50 {
  height: 50px !important;
}

.h-55 {
  height: 55px !important;
}

.h-60 {
  height: 60px !important;
}

.h-65 {
  height: 65px !important;
}

.h-70 {
  height: 70px !important;
}

.h-75 {
  height: 75px !important;
}

.h-80 {
  height: 80px !important;
}

.h-85 {
  height: 85px !important;
}

.h-90 {
  height: 90px !important;
}

.h-95 {
  height: 95px !important;
}

.h-100 {
  height: 100px !important;
}

.h-105 {
  height: 105px !important;
}

.h-110 {
  height: 110px !important;
}

.h-115 {
  height: 115px !important;
}

.h-120 {
  height: 120px !important;
}

.h-125 {
  height: 125px !important;
}

.h-130 {
  height: 130px !important;
}

.h-135 {
  height: 135px !important;
}

.h-140 {
  height: 140px !important;
}

.h-145 {
  height: 145px !important;
}

.h-150 {
  height: 150px !important;
}

.h-155 {
  height: 155px !important;
}

.h-160 {
  height: 160px !important;
}

.h-165 {
  height: 165px !important;
}

.h-170 {
  height: 170px !important;
}

.h-175 {
  height: 175px !important;
}

.h-180 {
  height: 180px !important;
}

.h-185 {
  height: 185px !important;
}

.h-190 {
  height: 190px !important;
}

.h-195 {
  height: 195px !important;
}

.h-200 {
  height: 200px !important;
}

.h-205 {
  height: 205px !important;
}

.h-210 {
  height: 210px !important;
}

.h-215 {
  height: 215px !important;
}

.h-220 {
  height: 220px !important;
}

.h-225 {
  height: 225px !important;
}

.h-230 {
  height: 230px !important;
}

.h-235 {
  height: 235px !important;
}

.h-240 {
  height: 240px !important;
}

.h-245 {
  height: 245px !important;
}

.h-250 {
  height: 250px !important;
}

.h-255 {
  height: 255px !important;
}

.h-260 {
  height: 260px !important;
}

.h-265 {
  height: 265px !important;
}

.h-270 {
  height: 270px !important;
}

.h-275 {
  height: 275px !important;
}

.h-280 {
  height: 280px !important;
}

.h-285 {
  height: 285px !important;
}

.h-290 {
  height: 290px !important;
}

.h-295 {
  height: 295px !important;
}

.h-300 {
  height: 300px !important;
}

.h-305 {
  height: 305px !important;
}

.h-310 {
  height: 310px !important;
}

.h-315 {
  height: 315px !important;
}

.h-320 {
  height: 320px !important;
}

.h-325 {
  height: 325px !important;
}

.h-330 {
  height: 330px !important;
}

.h-335 {
  height: 335px !important;
}

.h-340 {
  height: 340px !important;
}

.h-345 {
  height: 345px !important;
}

.h-350 {
  height: 350px !important;
}

.h-355 {
  height: 355px !important;
}

.h-360 {
  height: 360px !important;
}

.h-365 {
  height: 365px !important;
}

.h-370 {
  height: 370px !important;
}

.h-375 {
  height: 375px !important;
}

.h-380 {
  height: 380px !important;
}

.h-385 {
  height: 385px !important;
}

.h-390 {
  height: 390px !important;
}

.h-395 {
  height: 395px !important;
}

.h-400 {
  height: 400px !important;
}

.w-0 {
  width: 0px !important;
}

.w-5 {
  width: 5px !important;
}

.w-10 {
  width: 10px !important;
}

.w-15 {
  width: 15px !important;
}

.w-20 {
  width: 20px !important;
}

.w-25 {
  width: 25px !important;
}

.w-30 {
  width: 30px !important;
}

.w-32 {
  width: 32px !important;
}

.w-35 {
  width: 35px !important;
}

.w-40 {
  width: 40px !important;
}

.w-45 {
  width: 45px !important;
}

.w-50 {
  width: 50px !important;
}

.w-55 {
  width: 55px !important;
}

.w-60 {
  width: 60px !important;
}

.w-65 {
  width: 65px !important;
}

.w-70 {
  width: 70px !important;
}

.w-75 {
  width: 75px !important;
}

.w-80 {
  width: 80px !important;
}

.w-85 {
  width: 85px !important;
}

.w-90 {
  width: 90px !important;
}

.w-95 {
  width: 95px !important;
}

.w-100 {
  width: 100px !important;
}

.w-105 {
  width: 105px !important;
}

.w-110 {
  width: 110px !important;
}

.w-115 {
  width: 115px !important;
}

.w-120 {
  width: 120px !important;
}

.w-125 {
  width: 125px !important;
}

.w-130 {
  width: 130px !important;
}

.w-135 {
  width: 135px !important;
}

.w-140 {
  width: 140px !important;
}

.w-145 {
  width: 145px !important;
}

.w-150 {
  width: 150px !important;
}

.w-155 {
  width: 155px !important;
}

.w-160 {
  width: 160px !important;
}

.w-165 {
  width: 165px !important;
}

.w-170 {
  width: 170px !important;
}

.w-175 {
  width: 175px !important;
}

.w-180 {
  width: 180px !important;
}

.w-185 {
  width: 185px !important;
}

.w-190 {
  width: 190px !important;
}

.w-195 {
  width: 195px !important;
}

.w-200 {
  width: 200px !important;
}

.w-205 {
  width: 205px !important;
}

.w-210 {
  width: 210px !important;
}

.w-215 {
  width: 215px !important;
}

.w-220 {
  width: 220px !important;
}

.w-225 {
  width: 225px !important;
}

.w-230 {
  width: 230px !important;
}

.w-235 {
  width: 235px !important;
}

.w-240 {
  width: 240px !important;
}

.w-245 {
  width: 245px !important;
}

.w-250 {
  width: 250px !important;
}

.w-255 {
  width: 255px !important;
}

.w-260 {
  width: 260px !important;
}

.w-265 {
  width: 265px !important;
}

.w-270 {
  width: 270px !important;
}

.w-275 {
  width: 275px !important;
}

.w-280 {
  width: 280px !important;
}

.w-285 {
  width: 285px !important;
}

.w-290 {
  width: 290px !important;
}

.w-295 {
  width: 295px !important;
}

.w-300 {
  width: 300px !important;
}

.w-305 {
  width: 305px !important;
}

.w-310 {
  width: 310px !important;
}

.w-315 {
  width: 315px !important;
}

.w-320 {
  width: 320px !important;
}

.w-325 {
  width: 325px !important;
}

.w-330 {
  width: 330px !important;
}

.w-335 {
  width: 335px !important;
}

.w-340 {
  width: 340px !important;
}

.w-345 {
  width: 345px !important;
}

.w-350 {
  width: 350px !important;
}

.w-355 {
  width: 355px !important;
}

.w-360 {
  width: 360px !important;
}

.w-365 {
  width: 365px !important;
}

.w-370 {
  width: 370px !important;
}

.w-375 {
  width: 375px !important;
}

.w-380 {
  width: 380px !important;
}

.w-385 {
  width: 385px !important;
}

.w-390 {
  width: 390px !important;
}

.w-395 {
  width: 395px !important;
}

.w-400 {
  width: 400px !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.start-0 {
  left: 0px !important;
}

.start-1 {
  left: 1px !important;
}

.start-2 {
  left: 2px !important;
}

.start-3 {
  left: 3px !important;
}

.start-4 {
  left: 4px !important;
}

.start-5 {
  left: 5px !important;
}

.start-6 {
  left: 6px !important;
}

.start-7 {
  left: 7px !important;
}

.start-8 {
  left: 8px !important;
}

.start-9 {
  left: 9px !important;
}

.start-10 {
  left: 10px !important;
}

.start-11 {
  left: 11px !important;
}

.start-12 {
  left: 12px !important;
}

.start-13 {
  left: 13px !important;
}

.start-14 {
  left: 14px !important;
}

.start-15 {
  left: 15px !important;
}

.start-16 {
  left: 16px !important;
}

.start-17 {
  left: 17px !important;
}

.start-18 {
  left: 18px !important;
}

.start-19 {
  left: 19px !important;
}

.start-20 {
  left: 20px !important;
}

.start-21 {
  left: 21px !important;
}

.start-22 {
  left: 22px !important;
}

.start-23 {
  left: 23px !important;
}

.start-24 {
  left: 24px !important;
}

.start-25 {
  left: 25px !important;
}

.start-26 {
  left: 26px !important;
}

.start-27 {
  left: 27px !important;
}

.start-28 {
  left: 28px !important;
}

.start-29 {
  left: 29px !important;
}

.start-30 {
  left: 30px !important;
}

.start-31 {
  left: 31px !important;
}

.start-32 {
  left: 32px !important;
}

.start-33 {
  left: 33px !important;
}

.start-34 {
  left: 34px !important;
}

.start-35 {
  left: 35px !important;
}

.start-36 {
  left: 36px !important;
}

.start-37 {
  left: 37px !important;
}

.start-38 {
  left: 38px !important;
}

.start-39 {
  left: 39px !important;
}

.start-40 {
  left: 40px !important;
}
